@use "sass:math";

.description__title {
  font-weight: 700;
  font-size: 32px;
  line-height: math.div(40, 32);
  letter-spacing: -0.5px;
  margin: 0;
  box-sizing: border-box;
  grid-area: description__title;
}

@media screen and (min-width: 1440px) {
  .description__title {
    font-weight: 700;
    font-size: 55px;
    line-height: math.div(60, 55);
    padding-top: 60px;
  }
}
