.theme__icon-sun {
  width: 28px;
  height: 28px;
  background-image: url(../images/UI\ KIT\ sun-whiteTheme.svg);
  background-repeat: no-repeat;
  background-position: cover;
  margin-right: 22px;
}
