.kinds-of-cycling__btn-container {
  grid-area: kinds-of-cycling__btn-container;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  justify-self: end;
}

@media screen and (min-width: 1440px) {
  .kinds-of-cycling__btn-container {
    justify-self: start;
  }
}
