.header__menu-btn {
  display: block;
  width: 22px;
  height: 19px;
  border-top: 3px solid #151515;
  border-bottom: 3px solid #151515;
  border-left: 0;
  border-right: 0;
  padding: 0;
  background-color: $background-white;
  transition: opacity 0.4s;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;

  &:hover {
    cursor: pointer;
    opacity: 0.75;
  }
}
