.theme__icon-moon {
  width: 20px;
  height: 20px;
  background-image: url(../images/UI\ KIT\ moon-whiteTheme.svg);
  background-repeat: no-repeat;
  background-position: cover;
  margin-left: 22px;
}
