.kinds-of-cycling__icon_type_road {
  width: 35px;
  height: 12px;
  background-image: url(../images/UI\ KIT\ road-label-mountains-desktop.svg);
  transform: translate(11px, 8px);
}

@media screen and (min-width: 1440px) {
  .kinds-of-cycling__icon_type_road {
    width: 50px;
    height: 16px;
    transform: translate(16px, 12px);
  }
}
